<section
  class="site-header__offset color-white banner"
  style="background-image: url({{ site.baseurl }}/img/bg/banner-{{ page.class }}.jpg)">

  <div class="row row--padding banner--padding align-center">
    <h1 class="banner--title title title--xxl title--light title--kerning-wide">
      {% if page.banner-title %}
        {{ page.banner-title | upcase }}
      {% else %}
        {{ page.title | upcase }}
      {% endif %}
    </h1>
  </div>

  {% if page.banner-content %}
  <div class="banner--content">

    <section class="row row--padding align-center section--padding-small">
      {{ page.banner-content }}
      {% if page.layout == 'city' %}
      <p>
        {% if page.link-three-sixty %}
          <a href="{{ page.link-three-sixty }}" class="btn btn--small btn--solid btn--icon">
            <span class="btn__icon btn__icon-360"><img class="js-svg-swap" src="{{ site.baseurl }}/img/icons/icon-360.png" alt=""></span>
            Explore {{ page.title }} in 360
          </a>
        {% endif %}
        {% if page.expert-title %}
          <a href="#expert" class="js-expand-content--btn btn btn--small btn--solid btn--icon">
            <span class="btn__icon" style="background-image: url('{{ site.baseurl }}/img/content/{{ page.class }}/expert.jpg');"></span>
            Meet our {{ page.title }} expert
          </a>
        {% endif %}
      </p>
      {% endif %}
    </section>

    {% if page.expert-title %}
    <section id="expert" class="expert js-expand-content">

      <div class="row row-thin">
        <h4 class="title title--sm title--kerning-wide expert__title">
          <span class="expert__image">
            <img src="{{ site.baseurl }}/img/content/{{ page.class }}/expert.jpg" alt="" width="100%">
          </span>
          {{ page.expert-title | upcase }}
        </h4>
      </div>

      <div class="row row-thin row--columns-6-6-gutters">
        <div class="row__column">
          {{ page.expert-content }}
        </div>
        <div class="row__column">
          {{ page.expert-specialty }}
        </div>
      </div>

    </section>
    {% endif %}

  </div>
  {% endif %}

</section>