<section id="competition" class="page-section section--partner-bg color-white section--padding-large" style="background-image: url({{ site.baseurl }}/img/bg/section-bg-competition.jpg);">
  <div class="row row--padding align-center">

    <h3 class="title title--md title--medium title--margin-sm">WIN THE HOLIDAY-OF-A-LIFETIME</h3>
    <p class="lead-paragraph">Enter here for your chance to win an exclusive British Airways holiday in the home of eternal sunshine</p>
    <a href="{{ site.baseurl }}/competition" class="btn btn--solid btn--large">Enter now</a>

  </div>
</section>