<section id="flights" class="page-section section--light-grey-bg color-white section--padding-medium" style="background-image: url({{ site.baseurl }}/img/bg/section-bg-flights.jpg);">



  <!-- PAGE TRACK // track for section icons -->
  <div class="page-track">
    <a href="#flights" class="icon icon--large page-track__icon page-track__icon-flights">
      <img src="{{ site.baseurl }}/img/icons/icon-flights.svg" width="24" alt="">
    </a>
  </div>



  <div class="row row--padding">

    <h3 class="title title--md title--medium title--kerning-wide title--margin-sm page-section__title">
      Getting to California
    </h3>
    <p class="lead-paragraph">Escape the dreary post-christmas blues and book your bucket-list trip to California today. Fly from London to any of our four Cali destinations with British Airways.</p>

    <a href="{{ page.link-book-now }}" class="btn btn--solid btn--large">Book now</a>
    <a href="{{ page.link-book-now }}"><img width="160" class="img--inline" src="{{ site.baseurl }}/img/logo/british-airways.svg" alt="British Airways Logo"></a>

  </div>
</section>