<footer class="site-footer color-white">

  <div class="row row--padding align-center">
    {% assign nav-order = site.pages | sort:"nav-order" %}
    <ul class="list--horizontal footer-nav">
      {% for page in nav-order %}
      {% if page.nav-order %}
      <li>
        <a class="footer-nav__link" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    <hr />
  </div>

  <div class="row row--padding align-center">
    Terms and conditions apply see <a href="http://www.britishairways.com/travel/home/public/en_gb">ba.com</a>. © Copyright <span class="js-year">2016</span> Secret Escapes
  </div>

</footer>