
/*=========================================================
   ---------- ALL CUSTOM STYLES FOR THE SITE ----------
=========================================================*/


// ---------- FOOTER ----------

.site-footer {
  padding-top: $margin;
  padding-bottom: $margin;
  color: darken( $white, 20 );
  font-size: .8em;
  font-weight: 400;
  background-color: $black;

  .footer-nav {
    &__link {
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.05em;
      padding: 0 5px;
    }
  }
}


// ---------- SECTIONS ----------

.section {
  &--light-grey-bg  { background-color: $light-grey; }
  &--dark-grey-bg   { background-color: $dark-grey; color: $white; }
  &--black-bg       { background-color: $black; color: $white; }
  &--partner-bg     { background-color: $partner-primary; color: $white; }

  // overlay for text bright background image
  &--overlay {
    &:before {
      content: "";
      background-color: $black-66;
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      z-index: 0;
    }
  }

  &--padding {
    padding: 4em 0;
    &-small { padding: 2em 0; }
    &-medium { padding: 6em 0; }
    &-large { padding: 10em 0; }
  }

  // styling for page section titles with icons
  &__title {
    position: relative;
    text-transform: uppercase;
    &:before {
      content: "";
      width: 4px;
      height: 100%;
      position: absolute;
      left: -30px;
      top: 0;
      line-height: 1;
    }
  }
}

// Styles for section types
#food-and-drink {
  .section__title {
    color: #d08a00;
    &:before { background-color: #d08a00; }
  }
}

#culture {
  .section__title {
    color: #70b8ab;
    &:before { background-color: #70b8ab; }
  }
}

#attractions {
  .section__title {
    color: #598619;
    &:before { background-color: #598619; }
  }
}

#shopping {
  .section__title {
    color: #8b66d0;
    &:before { background-color: #8b66d0; }
  }
}

#flights {
  .section__title {
    &:before { background-color: $partner-primary; }
  }
  .logo--partner {
    display: inline-block;
    line-height: 1;
    margin-left: 30px;
    &--img {
      max-width: 160px;
    }
  }
}


// ---------- BANNER ----------
.banner {
  position: relative;
  background-image: url('../img/bg/banner-default.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 0; padding-bottom: 0;
  &--padding {
    padding: 10em 0;
  }
  &--title {
    font-family: $title-font-family;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 3.8em;
    text-shadow: 0 0 35px rgba(14, 20, 32, 0.8);
    line-height: 1;
    @include bp(large) {
      font-size: 5.2em;
    }
  }
  &--content {
    padding: 2em 0 3em;
    background-color: rgba($dark-grey, 0.65);
  }
}





/*=========================================================
   ---------- REUSABLE ELEMENTS ----------
=========================================================*/

// ---------- Generic icon ----------
.icon {
  padding: 2px 5px;
  width: 40px; height: 40px;
  text-align: center;
  display: block;
  background-color: #fff;
  border-radius: 40px;
  border: 1px solid $black-15;

  &--large {
    padding: 11px 5px;
    width: 50px;
    height: 50px;
  }
}


// ---------- Card layouts ----------
.card {
  position: relative;
  z-index: 10;
  display: block;
  border-radius: 5px;
  box-shadow: 0 0 5px $black-15;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  & + & {
    margin-top: 2em;
  }
  &.bg-image-ratio {
    padding: 0;
    &.card--overlay {
      &:before {
        background-color: $black-25;
      }
    }
  }

  &__title {
    position: absolute;
    bottom: 1.5em;
    left: 1.5em;
    right: 1.5em;
    &-center {
      bottom: auto;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__image {
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 1.5em;
    width: 120px;
    border-radius: 5px 0 0 5px;
  }

  &__content {
    padding: 1em 1.5em;
  }

  &__icon {
    position: absolute;
    top: -10px; right: -10px;
  }

  // Small thumbnail square, to be paired with bg-image-ratio--1-1
  &-thumbnail {
    width: 100px; margin-right: 2em; float: left;
  }

  &--food-and-drink { border-bottom: 3px solid #d08a00; }
  &--culture { border-bottom: 3px solid #70b8ab; }
  &--attractions { border-bottom: 3px solid #598619; }
  &--shopping { border-bottom: 3px solid #8b66d0; }
}





/*=========================================================
   ---------- PAGE SPECIFIC LAYOUTS ----------
=========================================================*/

// ---------- OVERVIEW PAGE ----------

.overview {
  min-height: 640px;
  position: relative;
  background-position: left top;
  background-size: cover;

  &__content {
    position: relative;
    z-index: 10;
    padding: 60px 0;
    @include bp(large) {
      width: 50%;
      float: right;
    }

    &-pretitle, &-title, &-content {
      display: block;
      margin-bottom: 15px;
      text-shadow: 0 0 20px #6b5e44;
    }
    @include bp(large) {
      &-title { margin-left: -80px; }
    }
  }

  // Map point placement
  &__points {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0; left: 0;
  }
  &__point {
    position: absolute;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    margin-left: -6px;
    z-index: 1;
    border-radius: 30px;
    border: 2px solid #fff;
    background-color: $partner-primary;
    &:hover { background-color: $partner-secondary; }
    &-city {
      width: 22px;
      height: 22px;
      margin-top: -11px;
      margin-left: -11px;
    }
  }
}


// ---------- CITY PAGE ----------

// Page icon track
.page-track {
  background-image: url('../img/bg/page-section-track.png');
  background-repeat: repeat-y;
  background-position: center;
  position: absolute;
  height: 100%;
  width: 50px;
  top: 0;
  left: 50%;
  margin-left: -630px;
  &__icon {
    position: fixed;
    bottom: 20px;
    margin-top: -25px;

    &-start { bottom: 320px; }
    &-1 { bottom: 260px; }
    &-2 { bottom: 200px; }
    &-3 { bottom: 140px; }
    &-4 { bottom: 80px; }
    &-flights {
      bottom: 20px;
      background-color: $partner-primary;
    }
    &.scrolled { position: absolute; bottom: auto; top: 170px; }
    &-start.scrolled { top: 0; }
  }
}

// Places highlighted for each town
.place-section {
  &__title {
    margin-top: 0 !important;
    img { margin-bottom: -6px; }
  }
  &__item {
    margin-bottom: 1em;
  }
}


// ---------- ROADTRIP PAGE ----------

.roadtrip {
  position: relative;
  &__track {
    background-image: url('../img/bg/page-section-track.png');
    background-repeat: repeat-y;
    background-position: center;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 50px;
    top: 0;
    left: 50%;
    margin-left: -25px;
    &__start {
      position: absolute;
      top: 0;
      margin-top: -25px;
      display: block;
    }
  }
}




