// general typographic styles


// -------- root typography styles --------

$core-font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
$main-font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
$title-font-family: 'Roboto Slab', 'Helvetica Neue', sans-serif;

html { font-size:62.5%; }
body,
input, textarea, keygen, select, button {
  font: 400 14px/1.728 $main-font-family;
  -webkit-text-size-adjust: 100%;
  @include bp(medium) {
    font-size: 15px;
  }
  color: $text-paragraph;
}


// -------- headings --------

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-family: $title-font-family;
  color: $text-heading;
  line-height: 1.2;
}

.title {
  color: $text-heading;
  font-family: $title-font-family;
  line-height: 1.2;
  letter-spacing: 0.03em;
  + * { margin-top: .2em; }

  &--margin-sm { margin-bottom: 0.5em; }
  &--margin { margin-bottom: 1em; }
  &--margin-lg { margin-bottom: 1.5em; }
  &--sub-heading { margin-top: 0 !important; }

  &--xxl    { font-size: 3.375em; }
  &--xl   { font-size: 3.375em; }
  &--lg    { font-size: 3.375em; }
  &--md  { font-size: 2.986em; }
  &--regular { font-size: 2.2em; }
  &--sm { font-size: 1.728em; }
  &--xs     { font-size: 1.2em; }
  &--xxs    { font-size: 0.9em; }

  &--light     { font-weight: 200; }
  &--medium     { font-weight: 300; }
  &--bold      { font-weight: 600; }
  &--bolder    { font-weight: 800; }
  &--expanded  { letter-spacing: .2em; }
  &--condense  { letter-spacing: 0; }
  &--tight     { line-height: .9; }
  &--lower     { text-transform: initial; }

  &--kerning-wide {
    letter-spacing: 0.06em;
  }

  @include bp(large) {
    &--xxl    { font-size: 5.16em; }
    &--xl   { font-size: 4.3em; }
  }

}

// -------- lists --------

ul {
  li {}
}

ol {
  li {}
}

dl {
  dt { margin-bottom: 5px; }
  dd {}
}

.list {
  &--horizontal {
    list-style: none; padding: 0; margin: 0;
    li {
      width: 100%;
      display: inline-block;
      position: relative;
      padding: 0 1em;
      @include bp(large) {
        width: auto;
      }
    }
    @include bp(large) {
      li + li:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        height: 100%;
        width: 1px;
        background-color: rgba(255, 255, 255, 0.15);
        transform: translateY(-50%);
      }
    }
  }
  &--lined {
    li {
      list-style: none;
      font-size: 0.9em;
      padding: 4px 0;
    }
    li + li { border-top: 1px solid $light-grey; }
  }
}


// ---------- buttons ----------

.btn {
  @include transition;
  display:inline-block;
  padding: .6em 2em;
  border: 2px solid $partner-primary;
  border-radius: 3px;
  color: $partner-primary;
  font-family: $title-font-family;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.9em;
  font-weight: 600;
  &:hover {
    color: white;
    background-color: $partner-primary;
    text-decoration: none;
  }
  * + & { margin-top: 2em; }
  & + & { margin-left: 0.5em; }

  &--solid { color: white; border: 2px solid $partner-primary; background-color: $partner-primary; }
  &--large { font-size: 1em; padding: .5em 3em; }
  &--small { font-size: 0.8em; padding: .4em 1.5em .5em; }
  &--icon { padding-left: 1em; }

  &__icon {
    width: 22px;
    height: 22px;
    margin-bottom: -6px;
    margin-right: 8px;
    text-align: center;
    display: inline-block;
    background-color: #fff;
    border-radius: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: top;
    line-height: 0;
    &-360 { background-color: $partner-primary; padding: 4px; }
  }
}


// -------- general content styles --------

p             { max-width: 820px; }
p + *         { margin-top: 1em; }
a             {}
a:hover       { text-decoration: none; }
li            { list-style-position: inside; }
ul li         { list-style-type: disc; }
ol li         { list-style-type: decimal; }
em            { font-style: italic; }
strong        { font-weight: 800; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.align-center { text-align: center; }
p.align-center,
.align-center p { margin-left: auto; margin-right: auto; }

@include bp(large) {
  .lead-paragraph { font-size: 1.3em; line-height: 1.6; }
}



hr {
  border: 0;
  height: 1px;
  background-color: $light-grey;
  margin: 1em 0;
  &.hr--left { height: 2px; width: 100px; margin: 1em 0 !important; }
}

.color-white {
  color: #fff;
  p,h1,h2,h3,h4,h5,h6,
  .h1,.h2,.h3,.h4,.h5,.h6,
  .title { color: #fff; }
  hr { background-color: $white-15; }
  .btn { border: 2px solid #fff; color: #fff; }
  .btn--solid {  background-color: #fff; border: 2px solid #fff; color: $partner-primary; }
}

.color-default {
  color: #fff;
  p { color: $text-paragraph; }
  h1,h2,h3,h4,h5,h6,
  .h1,.h2,.h3,.h4,.h5,.h6,
  .title { color: $text-heading; }
  hr { background-color: $light-grey; }
  .btn { border: $partner-primary; color: $partner-primary; }
  .btn--solid { background-color: $partner-primary; border: 2px solid $partner-primary; color: #fff; }
}



// Images

.img--inline {
  display: inline-block;
  line-height: 1;
  margin-left: 20px;
  vertical-align: middle;
}


