---
layout: default
---


{% include banner.html %}


<section class="section--partner-bg color-white">
  <div class="row align-center">
    <h2 class="title title--xs title--kerning-wide title--margin-lg">{{ page.flight-details | upcase }}</h2>
    <p>
      <a href="#" class="btn">Book now</a>
      <img width="160" class="img--inline" src="{{ site.baseurl }}/img/logo/british-airways.svg" alt="British Airways Logo">
    </p>
  </div>
</section>

{% for section in page.sections %}
{% capture sectioncycle %}{% cycle 'odd', 'even' %}{% endcapture %}

<section id="{{ section.class }}" class="{% cycle "section--light-grey-bg", "" %} section--padding-large">


  <!-- PAGE TRACK // track for section icons -->
  <div class="page-track">
    {% if forloop.first %}
      <a href="#{{ section.class }}" class="icon icon--large page-track__icon page-track__icon-start"><img src="{{ site.baseurl }}/img/icons/icon-arrow-down.svg" width="24" alt=""></a>
    {% endif %}
    <a href="#{{ section.class }}" class="icon icon--large page-track__icon page-track__icon-{{ forloop.index }}">
      <img src="{{ site.baseurl }}/img/icons/icon-{{ section.class }}.svg" width="24" alt="">
    </a>
  </div>


  <!-- FEATURED SECTION PLACE -->
  <div class="row row--padding row--columns-6-6-gutters">

    <div class="row__column">
      <h3 class="title title--md title--medium title--kerning-wide title--margin-sm section__title">{{ section.title }}</h3>
      {{ section.content }}
    </div>

    {% for place in section.places %}
    {% if place.featured %}
      <div class="row__column">
        {% include city-card.html class="feature" ratio="21-9" %}
      </div>
    {% endif %}
    {% endfor %}

  </div>


  <!-- SECTION PLACES TITLE -->
  <div class="row row--padding place-section__title">
    <h4 class="title title--kerning-wide">
      EXPLORE OUR {{ page.title | upcase }} TOP PICKS
      <img src="{{ site.baseurl }}/img/icons/arrow-highlights-culture.svg" width="24" alt="">
    </h4>
  </div>


  <!-- SECTION PLACES -->
  <div class="row row--padding row--columns-6-6-gutters">
    {% for place in section.places %}
    {% unless place.featured %}
      <div class="row__column place-section__item row--columns-vertical-align">
        <a
          href="javascript:void();"
          data-place="{{ place.class }}"
          style="background-image: url('{{ site.baseurl }}/img/content/{{ page.class }}/{{ place.class }}.jpg');"
          class="{% if place.secret %}card-secret {% endif %}card color-white js-open-modal card-thumbnail bg-image-ratio bg-image-ratio--1-1">
            {% if place.secret %}
            <span class="card__caption title title--xxs">SECRET</span>
            {% endif %}
          </a>

        <div class="place-section__item-content">
          <a href="javascript:void();" data-place="{{ place.class }}" class="js-open-modal">
            <h4 class="title title--xs">
              {{ place.title }}
              {% if place.experts-pick %}
              <span class="expert__image expert__image--small">
                <img src="{{ site.baseurl }}/img/content/{{ page.class }}/expert.jpg" alt="" width="100%">
              </span>
              {% endif %}
            </h4>
            <p>{{ place.description | truncate: 50 }}</p>
          </a>
        </div>

      </div>
    {% endunless %}
    {% endfor %}
  </div>



</section>
{% endfor %}



<!-- BRITISH AIRWAYS // Section promoting BA, and flight details to current city -->
{% include flights-section.html %}




<!-- NEXT STOP // Next city on the roadtrip
     Get current page nav-order (acts as a page ID), plus 1 to get next page in nav-order -->
{% assign pages = site.pages | sort:"nav-order" %}
{% assign nextpagenum = page.nav-order | plus:1 %}
{% for nextPage in pages %}
  {% if nextPage.nav-order == nextpagenum %}
  {% if nextPage.layout == 'city' %}

  <section id="next-stop" class="section--dark-grey-bg section--overlay color-white section--padding-none next-stop" style="background-image: url({{ site.baseurl }}/img/bg/banner-{{ nextPage.class }}.jpg);">

    <div class="row row--padding row--columns-7-5-gutters row--columns-vertical-align">

      <div class="next-stop__content row__column section--padding-large">
        <h3 class="title title--md title--medium title--kerning-wide">Next stop {{ nextPage.title }}</h3>
        <p>{{ nextPage.banner-content | strip_html }}</p>
      </div>

      <div class="next-stop__button row__column align-center section--overlay">
        <a href="{{ nextPage.url }}" class="next-stop__button-content">
          <h4 class="title title--xs title--bold">{{ page.distance-to | upcase }}</h4>
          <span class="btn btn--large">Ready to go?</span>
        </a>
      </div>

    </div>

  </section>

  {% endif %}
  {% endif %}
{% endfor %}




<!-- PLACE HIGHLIGHT MODAL
     Modal containing all place highlights, showing only currently active highlight -->

<div class="js-modal modal is-closed">

  <div class="modal__wrap row">
    <div class="modal__content row--padding">

      {% for section in page.sections %}
      {% for place in section.places %}
      <div class="modal__item row row--columns-6-6 row--columns-vertical-align" id="modal__item-{{ place.class }}">
        <span class="icon icon--large modal__item__icon">
          <img src="{{ site.baseurl }}/img/icons/icon-{{ section.class }}.svg" width="24" alt="">
        </span>
        <div class="row__column modal__item__content">

          {% if place.secret %}
          <span class="modal__item__label">
            SECRET
          </span>
          {% endif %}

          {% if place.experts-pick %}
            <h2 class="title title--sm title--margin title--kerning-wide">
              {{ place.title }}
              <span class="expert__image">
                <img src="{{ site.baseurl }}/img/content/{{ page.class }}/expert.jpg" alt="" width="100%">
              </span>
            </h2>
            <p class="lead-paragraph"><em>"{{ place.description }}"</em></p>
          {% else %}
            <h2 class="title title--sm title--margin-sm title--kerning-wide">
              {{ place.title }}
            </h2>
            <p>{{ place.description }}</p>
          {% endif %}

        </div>
        <div class="row__column">
          <div class="js-close-modal modal__close"></div>
          <div
            class="bg-image-ratio bg-image-ratio--3-2"
            style="background-image: url('{{ site.baseurl }}/img/content/{{ page.class }}/{{ place.class }}.jpg');">
          </div>
        </div>
      </div>
      {% endfor %}
      {% endfor %}

    </div>
  </div>
</div>



