---
layout: default
---


<section
  class="site-header__offset color-white overview js-overview"
  style="background-image: url({{ site.baseurl }}/img/bg/overview-background.jpg)">

  <div class="row row--padding">
    <div class="overview__content">
      <span class="overview__content-pretitle title title--sm title--kerning-wide title--medium">EXPERIENCE</span>
      <span class="overview__content-title title title--xxl title--kerning-wide title--medium">CALIFORNIA</span>
      <p class="overview__content-content lead-paragraph">Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis. Sed posuere consectetur est at lobortis. </p>
      <a href="{{ site.baseurl }}/roadtrip" class="btn btn--solid btn--large">Explore California</a>
    </div>
  </div>

  <div class="overview__points">
    {% assign pages = site.pages where: "class", "roadtrip" %}
    {% for page in pages %}
    {% for place in page.places %}
      {% if place.position %}
        <a
          href="{{ site.baseurl }}{{ page.url }}#{{ place.class }}"
          class="overview__point{% if place.type == 'city' %} overview__point-city {% endif %}" style="{{ place.position }}"></a>
      {% endif %}
    {% endfor %}
    {% endfor %}
  </div>

</section>



