---
layout: default
---


{% include banner.html %}




<!-- SECTION CONTAINER -->
<div class="roadtrip">


  <div class="roadtrip__track">
    <a href="#roadtrip" class="icon icon--large roadtrip__track__start">
      <img src="{{ site.baseurl }}/img/icons/icon-arrow-down.svg" width="24" alt="">
    </a>
  </div>


  <section class="section--light-grey-bg" id="roadtrip">
    <div class="row row--padding row--columns-6-6-gutters">

    {% for place in page.places %}
      {% capture placecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
      {% if place.type == 'city' %}

        <!-- CITY CARD -->
        </div><!-- end 6-6 columns -->
        <div class="row row--padding">
          <a href="{{site.baseurl}}/{{ place.class }}" id="{{ place.class }}" data-place="{{ place.class }}" class="card card--overlay color-white align-center bg-image-ratio bg-image-ratio--21-9" style="background-image: url('{{ site.baseurl }}/img/bg/banner-{{ place.class }}.jpg');">
            <div class="card__title card__title-center">
              <h2 class="title title--md title--kerning-wide title--margin-sm title--medium">{{ place.title }}</h3>
              <p class="lead-paragraph">{{ place.description }}</p>
            </div>
          </a>
        </div>
        <div class="row row--padding row--columns-6-6-gutters"><!-- restart 6-6 columns -->

      {% else %}

        <a href="javascript:void();" id="{{ place.class }}" data-place="{{ place.class }}" class="js-open-modal row__column card">

          <div class="card__image bg-image-ratio bg-image-ratio--1-1"
            style="background-image: url('{{ site.baseurl }}/img/content/roadtrip/{{ place.class }}.jpg');">
          </div>

          <div class="card__content">
            {% if place.secret %}
            <span class="card__label">
              SECRET
            </span>
            {% endif %}
            <h3 class="title title--xs title--kerning-wide title--margin-sm page-section__title">{{ place.title }}</h3>
            <p>{{ place.description | truncate: 80 }}</p>
          </div>

          {% if place.distance %}
          <div class="card__distance">
            {{ place.distance | upcase }}
          </div>
          {% endif %}

        </a>

      {% endif %}
    {% endfor %}

    </div>
  </section>

</div>



<!-- BRITISH AIRWAYS // Section promoting BA, and flight details to current city -->
{% include flights-section.html %}



<!-- PLACE HIGHLIGHT MODAL
     Modal containing all place highlights, showing only currently active highlight -->
<div class="js-modal modal is-closed">

  <div class="modal__wrap row">
    <div class="modal__content row--padding">

      {% for place in page.places %}
      <div class="modal__item row row--columns-6-6 row--columns-vertical-align" id="modal__item-{{ place.class }}">

        <div class="row__column modal__item__content">

          {% if place.secret %}
          <span class="modal__item__label">
            SECRET
          </span>
          {% endif %}

          <h2 class="title title--sm title--margin-sm title--kerning-wide">{{ place.title }}</h2>
          <p>{{ place.description }}</p>
          {% if place.distance %}
          <div class="modal__item__distance">
            {{ place.distance | upcase }}
          </div>
          {% endif %}
        </div>

        <div class="row__column">
          <div class="js-close-modal modal__close"></div>
          <div
            class="bg-image-ratio bg-image-ratio--3-2"
            style="background-image: url('{{ site.baseurl }}/img/content/roadtrip/{{ place.class }}.jpg');">
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>



{{ content }}

